button,
.btn {
    border: none;
    background: linear-gradient(to right, $ctaCyan, $ctaBlue);
    font-size: 0.97rem;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;


    @include breakpoint(medium){
    max-width: 200px;

    }
    &:hover{
        background: linear-gradient(to right,$ctaBlue, $ctaCyan);  
    }

    &--large {
        @extend .btn;
        padding: 20px;
        
        @include breakpoint(large){
            max-width: 285px;

        }
    }

}

input{
    font-family: $font-body;
}
input[type="text"],
input[type="email"]{
    border: none;
    border-radius: 30px;
    color: $footerBg;
    outline: none;
    font-size: .9rem;
    padding: 17px 40px;
}
